.board {
  margin: 2em;
  display: flex;
  flex-flow: column nowrap;
}

.board-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}
