.row {
  display: flex;
  border-bottom: 2px solid blue;
}

.row:last-child {
  border-bottom: none;
}

.square {
  max-height: 100%;
  max-width: 100%;
  padding: 3em;
  // border-bottom: 2px solid blue;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
