.square {
  height: 100px;
  width: 100px;
  padding: 0.5em;
  border: 3px solid;
  border-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark {
  font-size: 64px;
}
